In [50]:
import pickle
import os
import pandas as pd

In [51]:
network = 'vgg16'
# network = 'res101'
output_path = './output/'+ network +'/ocid_test/faster_rcnn_10/'
_files = os.listdir(output_path)
files = [f for f in _files if os.path.isfile(os.path.join(output_path, f))]
assert len(files) == len(_files), "There is a directory in the output destination."

In [52]:
report = []
for f in files:
    
    if f == 'detections.pkl':
        continue
        
    item = {}
    cls = f.replace('_pr.pkl', '')
    path = os.path.join(output_path, f)
    with open(path, 'rb') as pf:
        res = pickle.load(pf)
        pf.close()
    
    item['class'] = cls
    item['ap'] = res['ap']
    report.append(item)

In [53]:
df_report = pd.DataFrame(report)

In [54]:
df_report

                 class        ap
0      tomato_soup_can  1.000000
1             baseball  0.964286
2                 lime  0.783784
3           hand_towel  0.981490
4               orange  0.992487
5               sponge  0.664775
6               marker  0.875317
7          bell_pepper  1.000000
8          power_drill  1.000000
9                timer  1.000000
10                pear  0.947613
11              binder  1.000000
12          toothpaste  0.859786
13             shampoo  0.966505
14          foam_brick  1.000000
15          coffee_mug  0.987940
16            keyboard  1.000000
17            food_bag  1.000000
18  nine-hole_peg_test  1.000000
19     master_chef_can  1.000000
20        rubikâ€™s_cube  0.941828
21              banana  0.865162
22            softball  1.000000
23         tennis_ball  0.804848
24           chips_can  1.000000
25       tuna_fish_can  0.513605
26         large_clamp  1.000000
27                bowl  0.966102
28            food_can  0.930444
29              potato  0.911239
30          glue_stick  0.839316
31             stapler  0.980242
32     bleach_cleanser  1.000000
33               apple  0.880323
34             kleenex  0.989240
35            soda_can  0.930676
36            food_box  0.989865
37                ball  0.955207
38         gelatin_box  0.822379
39               lemon  1.000000
40                lego  0.375000
41            bulb_box  0.936937
42         pudding_box  0.972222
43     instant_noodles  0.989838
44           sugar_box  1.000000
45    mini_soccer_ball  1.000000
46              tomato  0.930681
47           golf_ball  0.269565
48                 mug  0.965517
49               peach  0.835729
50        pitcher_base  1.000000
51      mustard_bottle  1.000000
52          flashlight  0.954545
53         cracker_box  1.000000
54         racquetball  0.387255
55        medium_clamp  1.000000
56          wood_block  1.000000
57          cereal_box  0.981367

In [55]:
print ('map: %.4f' % (df_report.ap.mean()))

map: 0.9128

In [56]:
df_report.to_csv(network + '_report.csv', index=False)

In [59]:
annotations = pd.read_csv('data/OCID-dataset/annotation.csv')

In [60]:
annotations

,scene_idx,bbox,name,class,new_class
0,0,"[212, 172, 417, 283]",cereal_box_3,cereal_box,box
1,1,"[212, 172, 417, 283]",cereal_box_3,cereal_box,box
2,1,"[388, 229, 480, 334]",kleenex_2,kleenex,box
3,2,"[212, 172, 417, 283]",cereal_box_3,cereal_box,box
4,2,"[386, 228, 480, 334]",kleenex_2,kleenex,box
...,...,...,...,...,...
17842,2299,"[229, 212, 377, 291]",large_clamp_1,large_clamp,clamp
17843,2299,"[384, 177, 485, 238]",medium_clamp_1,medium_clamp,clamp
17844,2299,"[185, 107, 277, 181]",power_drill_1,power_drill,power drill
17845,2299,"[278, 72, 334, 127]",timer_1,timer,timer
17846,2299,"[174, 111, 232, 161]",pudding_box_1,pudding_box,box

In [67]:
len(annotations)

17847

In [61]:
with open('data/OCID-dataset/train.txt', 'r') as f:
    lines = f.readlines()
    f.close()
     
trainset = [line.strip() for line in lines]

In [63]:
with open('data/OCID-dataset/test.txt', 'r') as f:
    lines = f.readlines()
    f.close()
     
testset = [line.strip() for line in lines]

In [65]:
num_instance = 0
for scene_idx in trainset:
    objs = annotations[annotations.scene_idx == int(scene_idx)]
    num_instance += len(objs)
print ('Train #instance:', num_instance)

Train #instance: 12686

In [66]:
num_instance = 0
for scene_idx in testset:
    objs = annotations[annotations.scene_idx == int(scene_idx)]
    num_instance += len(objs)
print ('Test #instance:', num_instance)

Test #instance: 5161